<div class="container-full">
    <div class="jumbotron jumbotron-fluid myJumbotron mb-0">
  <div class="container text-center">
    <h1>News Scraper</h1>
    <p>Your source of useless news scraped from the bottom of the trash!</p>
  </div>
</div>
    <div class="row">
        <div class="col-12 text-center">
            <div class="utility p-2 mb-3">
                <button type="button" class="btn btn-primary" id="scrapeBtn">Refresh Articles</button>
            </div>
        </div>
        <div class="col-12 ">
            <div class="articleContainer">
                <div class="row">
                    {{!-- articles go here--}}

                    {{#each articles}}
                    <div class="col-3">
                        <div data-id={{_id}} class="article my-3"
                            style="background: #100 url({{ image }}) no-repeat center; background-size: cover;">

                            <div class="row titleWrapper">
                                <div class="offset-1 col-11 text-center">
                                    <div class="articleTitle mainTitle">{{ title.[0] }}</div>
                                    <div class="articleTitle subTitle">{{ title.[1] }}</div>
                                    <div class="articleTitle subTitle">{{ title.[2] }}</div>
                                </div>
                            </div>
                            <div class="row contentWrapper">
                                <div class="col-12 text-center">
                                    <div class="articleSnippet px-2">{{ snippet }} </div>
                                </div>
                            </div>


                            <div class="articleStamp text-center">TMZ</div>
                            <div class="barcodeStamp"></div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="articleModal" tabindex="-1" role="dialog" aria-labelledby="articleModalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Article</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-12 articleDisplay">

                            </div>
                            <div class="col-12 links">

                            </div>

                            <div class="col-12">
                                <hr>
                                <h3>Notes</h3>
                                <form id="noteForm">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="inputNote" placeholder="Enter Note"> 
                                </div>
                                <button type="button" class="btn btn-primary" id="formSubmit">Enter</button>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer ">
                    <div class="container">
                        <div class="row text-center">
                            
                            <div class="col-12 notes">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>